fieldset {
  padding: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  min-width: 250px;
}

input, textarea {
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  max-width: 400px;
  max-height: 400px;
}

.btn {
  display: flex;
}

button, a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 15px;
  width: 100px;
  font-weight: bold;
  margin: 20px 10px;
  padding: 10px 0;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
}

button:hover, a:hover {
  background-color: antiquewhite;
}
