@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  margin: auto;
}

ul {
  list-style: none;
}

textarea:focus, input:focus, button {
  outline: none;
}

button {
  cursor: pointer;
}

.active {
  background-color: antiquewhite;
}

